/*General Tags*/

html {
    font-family: Helvetica, sans-serif;
    color: #333;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(100,100,100);
}

h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.25em;
    color: tomato;
}

h4 {
    line-height: 1.75em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.25em;
    margin-top: 0.5em;
}

h6 {
    font-style: italic;
    font-size: 0.875em;
    margin: 20px 20px 0pc;
    text-align: center;
}

p {
    font-size: 0.75em;
    text-align: center;
}


@media only all and (min-width: 700px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.375em;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        line-height: 1.75em;
    }

    h5 {
        font-size: 1em;
        line-height: 1.25em;
    }

    h6 {
        font-size: 0.875em;
    }   
}

a {
    text-decoration: none;
    color: inherit;
}

h5 a {
    font-style: italic;
    color: darksalmon;
}

img {
    width: 100%;
}

object {
    width: 70%;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    border-radius: 200px;
    margin: 0 20px;
}

/*General*/
#landing {
    height: 30vh;
}

#landing h1, .centered, .condensed{
    color: tomato;
    padding: 20px 5px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.full-screen h1, .full-screen h2, .full-screen h5, .full-screen h4{
    color: rgb(240,240,240);
}


.condensed {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.condensed h2, .condensed h4 {
    text-align: left;
}

/*Tablet and Higher*/
@media only all and (min-width: 700px) {
    .condensed {
        width: 40%;
    }
}

.content {
    max-width: 860px;
    margin: 0 auto;
}

/*
.content h2 {
padding: 0px 30px;
}
*/

/*Flexbox Containers*/
.container {
    display: flex;
    flex-wrap: wrap;
}

.container.one-row {
    flex-wrap: nowrap;
}

.pads {
    padding: 20px;
}

.margs {
    margin: 10px;
}

.margs-50 {
    margin: 50px;
}

.full-width {
    position: relative;
    width: 100%;
}

/*
.full-width h4 {
margin: 0px 20px;
}
*/

/*Mobile Responsive*/
.smol-full-width {
    position: relative;
    width: 100%;
}

.smol-one-half {
    position: relative;
    width: calc(100% / 2);
}

.smol-one-half.margs{
    width: calc(100% / 2 - 2 * 10px);
}

.smol-one-quarter{
    position: relative;
    width: calc(100% / 4);
}


.smol-one-third {
    position: relative;
    width: calc(100% / 3);
}

.smol-one-third.margs{
    width: calc(100% / 3 - 2 * 10px);
}

.smol-two-thirds {
    width: calc(100% / 3 * 2);
}

/*Tablet and Higher*/
@media only all and (min-width: 700px) {
    .one-half {
        position: relative;
        width: calc(100% / 2);
    }

    .one-half.margs{
        width: calc(100% / 2 - 2 * 10px);
    }

    .one-quarter{
        position: relative;
        width: calc(100% / 4);
    }


    .one-third {
        position: relative;
        width: calc(100% / 3);
    }

    .one-third.margs{
        width: calc(100% / 3 - 2 * 10px);
    }

    .two-thirds {
        width: calc(100% / 3 * 2);
    }
}


/*Top bar*/
#topbar {
    z-index: 10;
}
#topbar ul, #topbar li {
    display: inline;
}

#topbar ul {
    padding: 0;
    margin: 0px;
}

#topbar li {
    padding: 5px 10px;
    margin: 20px;
    border-bottom: 5px solid rgb(200,230,200);
}


@media only all and (max-width: 700px) {
    #topbar {
        justify-content: center;
    }

    #topbar h2 {
        margin-top: 10px;
        text-align: center
    }

    #topbar ul {
        display: flex;
        justify-content: center;
    }
}

@media only all and (min-width: 700px) {
    #topbar {
        display: flex;
        padding: 10px 30px;
        position: absolute;
        width: calc(100% - 60px);
    }

    #topbar h2 {
        display: inline;
    }

    #topbar h2 {
        flex-grow: 2;
    }
}

/*Showing all projects*/
.description {
    position: absolute;
    bottom: 0;
}

.selected-project {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

/*Individual Project Page*/
.screenshot {
    margin: 25px;
}

.screenshot img {
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .3);
}

.video-mobile {
    margin: 25px 75px;
    width: calc(100% - 2 * 75);
}

.video-desktop {
    margin: 25px;
}

video {
    width: 100%;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .3);
}

/*Tablet and Higher*/
@media only all and (min-width: 700px) {
    .video-mobile {
        margin: 50px;
        width: calc(100% / 2 - 2 * 50px);
    }

    .video-desktop {
        margin: 25px 50px;
    }

    video {
        width: 100%;
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .3);
    }  
}

.zine {
    margin: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);
}

.icon {
    flex: 1;
}

/*Stylings*/
[class^= highlighted] {
    background-color: pink;
    width: 100%;
    height: 1em;
    position: relative;
    top: -0.75em;
    z-index:-1;
}

.full-screen{
    position: relative;
    height: 90vh; 
}

[id^=background] {
    position: relative;
    z-index: -1;
    top:0;
}

[id^=background] img {
    height: 93vh;
    object-fit: cover;
}

/*Font Colors*/
.color-1 {
    color: tomato;
}

.color-2 {
    color: cornflowerblue
}

.color-3 {
    color: cadetblue
}

.color-4 {
    color: rgb(240, 240, 240);
}

.color-5 {
    color: darkseagreen
}

.color-6 {
    color: darksalmon
}

.content h2 {
    color: darkseagreen;
}

.content > h2 {
    margin-left: 30px;
}

.full-width h4 {
    color: tomato;
}

h4 {
/*    color: #5B5E6C;*/
    color: darkseagreen;
}

.full-width > h4 {
    display: inline;
    padding-bottom: 10px;
    margin-bottom: 100px;
    border-bottom: 5px solid tomato;
}

/*Interactive*/
.description h5 {
    display: none;
}

.selected-project:hover, .project:hover {
    background-color: #f6f6f6;
}

#topbar li:hover {
    border-color: tomato;
}

.project img {
    filter: none;
}

.other-projects .project img {
    /*filter: grayscale(100%);*/
    filter: opacity(.5);;
    transition: 0.3s ease-in-out;
}

.other-projects .project:hover img {
    filter: none
}

@media only all and (max-width: 700px) {
    .other-projects .project img {
        filter: none
    }
}

.project .description {
    width: calc(100% - 50px);
}

.project:hover h4 {
    color: darkseagreen;
}

.other-projects .project:hover h5 {
    text-align: left;
}

/*index page*/
canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/*about page*/

#about p {
    text-align: left;
    font-size: 0.8em;
}