/*General Tags*/

html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h5, h6 {
    font-weight: normal;
}

h1 {
    margin: 20px 0px;
    font-size: 2em;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    line-height: 1.75em;
}

h5 {
    font-size: 1em;
    line-height: 1.25em;
}

h6 {
    font-style: italic;
    font-size: 0.875em;
    margin: 20px 20px 0pc;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

object {
    width: 70%;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    border-radius: 200px;
    margin: 0 20px;
}

/*General*/
#landing {
    height: 30vh;
    background-color: rgba(255, 250, 248, 0.5);
}

.content {
    max-width: 992px;
    margin: 0 auto;
}

.content h2 {
    padding: 0px 30px;
}

/*Flexbox Containers*/
.container {
    display: flex;
    flex-wrap: wrap;
}

.container.one-row {
    flex-wrap: nowrap;
}

.pads {
    padding: 20px;
}

.margs {
    margin: 10px;
}

.margs-50 {
    margin: 50px;
}

.full-width {
    position: relative;
    width: 100%;
    background-color: rgb(245, 250, 245);
}

.full-width h4 {
    padding: 0px 20px;
}

.one-half {
    position: relative;
    width: calc(100% / 2);
    background-color: rgba(255, 255, 245, 0.5);
}

.one-half.margs{
    width: calc(100% / 2 - 2 * 10px);
}

.one-quarter{
    position: relative;
    width: calc(100% / 4);
    background-color: rgba(255, 250, 255, 0.5);
}


.one-third {
    position: relative;
    width: calc(100% / 3);
    background-color: rgba(255, 252, 252, 0.5);
}

.one-third.margs{
    width: calc(100% / 3 - 2 * 10px);
}

.two-thirds {
    width: calc(100% / 3 * 2);
    background-color: rgba(250, 254, 255, 0.5);
}

/*Top bar*/
#topbar {
    display: flex;
    padding: 10px 30px;
    position: absolute;
    width: calc(100% - 60px);
}

#topbar h2, #topbar ul, #topbar li {
    display: inline;
}

#topbar h2 {
    flex-grow: 2;
}

#topbar ul {
    padding: 0;
    margin: 0px;
}

#topbar li {
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}

/*Showing all projects*/
.description {
    position: absolute;
    bottom: 0;
}

.selected-project {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

/*Individual Project Page*/
.screenshot {
    margin: 25px 50px;
}

.screenshot img {
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .3);
}

.video-mobile {
    margin: 50px;
    width: calc(100% / 2 - 2 * 50px);
}

.video-desktop {
    margin: 25px 50px;
}

video {
    width: 100%;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .3);
}

.zine {
    margin: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);
}

.icon {
    flex: 1;
}

/*Stylings*/
[class^= highlighted] {
    background-color: pink;
    width: 100%;
    height: 1em;
    position: relative;
    top: -0.75em;
    z-index:-1;
}

.full-screen{
   height: 100vh; 
}

[id^=background] {
    position: relative;
    z-index: -1;
    top:0;
}

[id^=background] img {
    height: 93vh;
    object-fit: cover;
}

/*Interactive*/
.description h5 {
    display: none;
}